@import "variables";
nav{
    grid-area: nav;
    ul{
        display: flex;
        justify-content: space-evenly;
        li{
            display: flex;
            flex-direction: column;
            align-content: center;
            a{
                text-decoration: none;
                color: $fondo;
            }
        }
    }
}

