@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;600&display=swap");
/*Variable*/
nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav ul li a {
  text-decoration: none;
  color: #b3aeb3;
}

/*Variable*/
/*Operaciones*/
.mapa img {
  height: 450px;
  width: 450px;
}

/*Hago un map para las redes
Declaro el mapa y lo combino con un each*/
.item1 {
  background-image: url(../imagenes/Foto1.JPG);
  background-position: center;
  background-size: cover;
}

.item2 {
  background-image: url(../imagenes/Foto2.JPG);
  background-position: center;
  background-size: cover;
}

.item3 {
  background-image: url(../imagenes/Foto3.JPG);
  background-position: center;
  background-size: cover;
}

.item4 {
  background-image: url(../imagenes/Foto4.JPG);
  background-position: center;
  background-size: cover;
}

.item5 {
  background-image: url(../imagenes/Foto5.JPG);
  background-position: center;
  background-size: cover;
}

.item6 {
  background-image: url(../imagenes/Foto6.JPG);
  background-position: center;
  background-size: cover;
}

/*Aplicamos el extend*/
.imagenFront {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

/*Aplicamos el mixins*/
* {
  padding: 0;
  margin: 0;
}

/* Style Index */
.containerIndex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.1fr 1fr 1fr 0.2fr;
      grid-template-rows: 0.1fr 1fr 1fr 0.2fr;
      grid-template-areas: "header header" "main main" "imagenFront mapa" "footer footer";
}

.mainHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.mainIndex {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  background-image: url(../imagenes/FondoDina.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

.mapa {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: mapa;
  background-color: #f8f2f8;
}

.imagenFront {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: imagenFront;
  background-color: #f8f2f8;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.1fr 3fr;
      grid-template-columns: 0.1fr 3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "logo nav";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.mainIndex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.textoDina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

/*
.parrafoDina{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $letra;
}
*/
.imagenFront {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

/* Style Nosotros */
.containerNosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.1fr 1fr 0.2fr;
      grid-template-rows: 0.1fr 1fr 0.2fr;
      grid-template-areas: "header header" "main main" "footer footer";
}

.nosotrosHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.nosotrosMain {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  background-color: #b3aeb3;
}

.nosotrosMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "nosotrosPic nosotrosDecrip";
  padding-top: 10%;
  padding-bottom: 10%;
  color: black;
}

.nosotrosPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nosotrosDescrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Style Menu */
.containerMenu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.1fr 3fr 0.2fr;
      grid-template-rows: 0.1fr 3fr 0.2fr;
      grid-template-areas: "header header" "main main" "footer footer";
}

.menuHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.menuMain {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  background-color: #b3aeb3;
}

.menuMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "wineCocktails" "platos";
}

.wineCocktails {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: wineCocktails;
}

.platos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: platos;
}

.wineCocktails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "picCocktail textoCocktail";
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.picCocktail {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: picCocktail;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textoCocktail {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: textoCocktail;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-style: oblique;
  font-variant: small-caps;
}

.platos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "textoPlatos picPlatos";
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.picPlatos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: picPlatos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textoPlatos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: textoPlatos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: black;
  font-style: oblique;
  font-variant: small-caps;
}

.cartaCocktails h2, .cartaPlatos h2 {
  font-size: small;
}

/* Style Galeria */
.containerGaleria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.1fr 4fr 0.2fr;
      grid-template-rows: 0.1fr 4fr 0.2fr;
      grid-template-areas: "header header" "main main" "footer footer";
}

.galeriaHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.galeriaMain {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  background-color: #b3aeb3;
}

.galeriaMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding: 2%;
}

.item {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  border: 2px solid black;
  height: auto;
  width: auto;
}

/*
.item1{
    background-image: url(../imagenes/Foto1.JPG);
    background-position: center;
    background-size: cover;
}

.item2{
    background-image: url(../imagenes/Foto2.JPG);
    background-position: center;
    background-size: cover;
}

.item3{
    background-image: url(../imagenes/Foto3.JPG);
    background-position: center;
    background-size: cover;
}

.item4{
    background-image: url(../imagenes/Foto4.JPG);
    background-position: center;
    background-size: cover;
}

.item5{
    background-image: url(../imagenes/Foto5.JPG);
    background-position: center;
    background-size: cover;
}

.item6{
    background-image: url(../imagenes/Foto6.JPG);
    background-position: center;
    background-size: cover;
}  
*/
/* Style Contatos */
.containerContactos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.1fr 3fr 0.2fr;
      grid-template-rows: 0.1fr 3fr 0.2fr;
      grid-template-areas: "header header" "main main" "footer footer";
}

.contactosHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.contactosMain {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  background-color: #b3aeb3;
}

.contactosMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* MEDIAQUERY */
/* Media Query para 500px*/
@media (max-width: 500px) {
  /* Media Query Index */
  .containerIndex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.1fr 1fr 0.5fr 0.5fr 0.1fr;
        grid-template-rows: 0.1fr 1fr 0.5fr 0.5fr 0.1fr;
        grid-template-areas: "header" "main" "imagenFront"  "mapa" "footer";
  }
  /* Media Query Nosotros */
  .containerNosotros {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.1fr 1fr 0.2fr;
        grid-template-rows: 0.1fr 1fr 0.2fr;
        grid-template-areas: "header" "main" "footer";
  }
  .nosotrosMain {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "nosotrosPic" "nosotrosDescrip";
  }
  .nosotrosDescrip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10%;
  }
  /* Media Query Menu */
  .containerMenu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.1fr 2fr 0.2fr;
        grid-template-rows: 0.1fr 2fr 0.2fr;
        grid-template-areas: "header" "main" "footer";
  }
  .menuMain {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "wineCocktails" "platos";
  }
  .wineCocktails {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "picCocktail"  "textoCocktail";
    margin-top: 5%;
  }
  .platos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "picPlatos" "textoPlatos";
    margin-top: 5%;
  }
  .cartaCocktails, .cartaPlatos {
    margin-top: 5%;
  }
  /* Media Query Galeria */
  .containerGaleria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.1fr 5fr 0.2fr;
        grid-template-rows: 0.1fr 5fr 0.2fr;
        grid-template-areas: "header" "main" "footer";
  }
  .galeriaMain {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 2%;
  }
  /* Media Query Contactos */
  .containerContactos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.1fr 2fr 0.2fr;
        grid-template-rows: 0.1fr 2fr 0.2fr;
        grid-template-areas: "header" "main" "footer";
  }
}

/* Agrego animaciones al proyecto */
.box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

/* Doy tamaño a la imagen del mapa y la imagen */
.mapa img {
  height: 450px;
  width: 450px;
}

.imagenFront img {
  height: 450px;
  width: 450px;
}

/* Ajustamos las Imagenes del Menu */
.cocktail, .fotoPlatos {
  height: 350px;
  width: 350px;
}

/*Ajusto el tamaño del logo*/
.logo {
  height: 50px;
  width: 50px;
}
/*# sourceMappingURL=style.css.map */